$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.user-avatar {
  border-radius: 99%;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:300px;
  overflow:auto;  
  margin-top:0px;
}
#table-wrapper table {
  width:100%;

}
footer {
  margin-top: 250px ;
}
/* md-card-content {
    height: 550px;
    overflow: scroll;
} */


content_header {
	layout-align :space-between start;
	ng-style: {'background': 'rgba(0, 0, 161, .8)'};
	height: 27px; 
	vertical-align:middle;"
    .h5 {
    align: center ;
    ng-style: "{'color': 'rgba(255, 255, 255, 1)'}";
	}
}