

&nbsp;


<div class="table-responsive-vertical shadow-z-1" style="width: 500px; margin: 0px auto; text-align: center;"> 
<md-toolbar class="md-theme-light" >
    <h2 class="md-toolbar-tools" layout="row" layout-align="center center">
      <span>SIGN-IN / SIGN-UP</span>
    </h2>
  </md-toolbar>
  
<div> 
	<div layout="row" layout-align="center center">
		

	<form name="registerForm" ng-submit="submitRegister()" ng-cloak ng-show="isSigningUp">
	<!--  -->
			
			<h4 align="center">{{register.errorMessage}}</h4>
			<h4 align="center">{{register.validationErrors}}</h4>
			
			<div flex layout="row" layout-md="column" layout-sm="column" ng-repeat="errors in register.validationErrors"> 

			<h4 align="center">{{errors.fieldName}}</h4>
			
			</div>

				

			<div flex>
			
				<md-input-container> <label>Email
					Address</label> <input type="email" name="email" id="email"
					ng-model="register.email" ng-required="true"
					ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
				<div ng-messages="registerForm.email.$error.required">
					<div ng-message="required">Email address is required.</div>
					<span ng-show="registerForm.email.$error.email">This is not a
						valid email.</span>
				</div>
				</md-input-container>
				
				<div flex>
				<md-input-container> <label>Contect Number</label>
				<input name="mobile" id="mobile" ng-model="register.mobile"
					ng-required="true">
				<div ng-messages="registerForm.mobile.$error">
					<div ng-message="required">Contect Number is required.</div>
				</div>
				</md-input-container>
				</div>

				<div flex>
				<md-input-container> <label>Password</label>
				<input name="password" type="password" id="password" ng-model="register.password"
					ng-required="true">
				<div ng-messages="registerForm.password.$error">
					<div ng-message="required">Password is required.</div>
				</div>
				</md-input-container>
				</div>

								
			</div>

			
			<div flex>
				<md-button type="submit" class="md-raised md-button md-ink-ripple"
					ng-disabled="registerForm.$invalid">SIGN UP</md-button>
			</div>

			<div flex>
				<label>HAVE AN ACCOUNT <a href="login">LOGIN</a> </label>
			</div>

		</form>
	<!-- -------------------------------------------------------------------------------------------------------------------------- -->
	
	<!-- -----------------------------------------------LOGIN FORM--------------------------------------------------------------------------- -->
	<form name="loginUserForm" ng-submit="submitloginUser()" ng-cloak ng-show="isSigningIn">
			
			{{loginUser.errorMessage}}
			
			<div flex>
				<md-input-container> <label>Email
					Address</label> <input type="userEmail" name="userEmail" id="userEmail"
					ng-model="login.userEmail" ng-required="true"
					ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
				<div ng-messages="loginForm.email.$error.required">
					<div ng-message="required">Email address is required.</div>
					<span ng-show="loginForm.email.$error.emailAddress">This is not a
						valid email.</span>
				</div>
				</md-input-container>

				<div flex>
				<md-input-container> <label>Password</label>
				<input type="password" name="userPassword" id="userPassword" ng-model="login.userPassword"
					ng-required="true">
				<div ng-messages="loginForm.Password.$error">
					<div ng-message="required">Password is required.</div>
				</div>
				</md-input-container>
				
			</div>

				
			</div>

		<div flex>
			<md-checkbox ng-model="isRememberMe" aria-label="isRememberMe" class="md-warn md-align-top-left" >
				Remember me
			</md-checkbox>
		</div>	
			<div flex>
				<md-button type="submit" class="md-raised md-button md-ink-ripple"
					ng-disabled="loginForm.$invalid">LOGIN</md-button>
			</div>
			
			
			<div flex>
			<md-checkbox ng-model="isSignup" aria-label="Sign up" class="md-warn md-align-top-left" ng-change="isSignInUp(isSignup)">
				NEW TO NAMAMI?
			</md-checkbox>
		</div>
		<div flex>
			
			Forgot your password?<a href="reset"><b>Reset Here</b></a>
		</div>
	  
			

		</form>
		<br>
		
  </div>
  
<!-- 
<div flex>
	<md-checkbox ng-model="isSignin" aria-label="Sign in" class="md-warn md-align-top-left" >
			<label>Already Have account?</label>
		</md-checkbox>
		<div ng-messages="registerForm.isSignin.$error">
	</div>
</div>
 -->
 <div id="loaders" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"  ng-show=loading></md-progress-circular>
 </div>
 
